@import url(sections/1-nav.css);
@import url(sections/2-header.css);
@import url(sections/3-features.css);
@import url(sections/4-purposeSection.css);
@import url(sections/5-testimonials.css);
@import url(sections/7-footer.css);
@import url(sections/6-emailSignUp.css);
@import url(sections/7-footer.css);


:root {
    /* Fonts */
    --headingFont: "Raleway", sans-serif;
    --bodyFont: "Open Sans", sans-serif;

    /* 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    */

    /* Color */
    --mainBackground: hsl(218, 28%, 13%);
    --introBackground: hsl(217, 28%, 15%);
    --footerBackground: hsl(216, 53%, 9%);
    --testimonialBackground: hsl(219, 30%, 18%);
    --white: #FFFFFF;
    --offWhite: rgb(238, 238, 238);

    /* Accents */
    --cyan: hsl(176, 68%, 64%);
    --blue:  hsl(198, 60%, 50%);
    --lightRed: hsl(0, 100%, 63%);
}

* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--mainBackground);
    color: var(--white);

    font-family: var(--bodyFont);
}


/* Background */
.background  {
    background-color: var(--introBackground);
    position: relative;
    height: 400px;

    z-index: 0;
}

.background .shape {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;

    z-index: -2;
}

.lower-bg {
    position: relative;

    background-color: var(--mainBackground);
    height: 500px;
}

img {
    width: 100%;
}

/* Text */

.h1-body {
    margin-top: 1.1em;
    font-size: 1.1rem;
    font-family: var(--headingFont);
}

.p-body {
    font-size: 0.85rem;
}